<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Cal's Library</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Cal's Library</h1>
            </div>
            <h2>Welcome to the lie-berry, friendo.</h2>
            <h3>OMG! LOL! JK! BRB! ROFLAMO! KTHXBYE!</h3>
            <a href="/books">View or Edit a Book</a>
            <br>
            <a href="/authors">View or Edit an Author</a>

            <h3>Search by...</h3>
            <form  action="/search_results_title">
                <input placeholder="Title" type="text" name="title_input" required>
                <button type="submit" class="btn">Search</button>
            </form>

            <form  action="/search_results_author">
                <input placeholder="Author" type="text" name="author_input" required>
                <button type="submit" class="btn">Search</button>
            </form>

            {% if books is not empty %}
                <h3>Search Results:</h3>
                <ul>
                    {% for book in books %}
                        <li><h4>{{ book.getTitle }}</h4></li><br>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </body>
</html>
