<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Cal's Library</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Cal's Library</h1>
            </div>

            <form action="/books" method="post">
                <input type="text" name="title" placeholder="Enter Title" required>
                <button type="submit">Add Book</button>
            </form>

        </div>
    </body>
</html>
